<table width="30%">
    <tr>
        <td colspan="3">
            <strong>Resultados generales</strong>
        </td>
    </tr>
    <tr>
        <td> Total de clientes del procesados </td>
        <td> :</td>
        <td> {{ total_clientes }}</td>
    </tr>
    <tr>
        <td> Total de clientes realmente procesado</td>
        <td> :</td>
        <td>{{ total_clientes_procesados }} </td>
    </tr>
    <tr>
        <td> Clientes con visita generadas</td>
        <td> :</td>
        <td> {{ cumplidos }}</td>
    </tr>
    <tr>
        <td> Cumplimiento de visitas </td>
        <td> :</td>
        <td> {{ porcentajeCumplimiento }}</td>
    </tr>
</table>

<br><br>


<table border="1">
    {% set  anterior = '' %}
    {% set break = false %}

    {% for carga in cargaDiaria if not break  %}
        {% if  anterior == '' %}
            <tr>
                <td> Día</td>
        {% endif %}
        {% if  anterior != '' and  anterior != carga.resDia %}
            <td>Total Capacidad</td>
            </tr>
            {% set break = true %}
        {% endif %}
        {%  if not break %}
            <td> Camión </td>
            <td> Clientes </td>
        {% endif %}
        {% set  anterior = carga.resDia %}
    {% endfor %}


    {% set  anterior = '' %}
    {% set  demanda   = 0 %}
    {% set  clientes  = 0 %}
    {% set  promedio  = 0 %}


    {% for carga in cargaDiaria %}
        {% if  anterior == '' %}
            <tr>
                <td>{{ carga.resDia }}</td>
        {% endif %}
        {% if  anterior != '' and  anterior != carga.resDia %}
                {% set  promedio  = demanda/clientes %}
                <td>{{ promedio|round(2, 'floor') }}</td>

                {% set  demanda   = 0 %}
                {% set  clientes  = 0 %}
            </tr>
            <tr>
                <td> {{ carga.resDia }}</td>
        {% endif %}
        <td> {{ carga.camion.id }} </td>
        <td> {{ carga.resClientes }} </td>

        {% set  demanda   = demanda + carga.resTotalDemanda %}

        {% set  clientes  = clientes + carga.resTotalClientes %}

        {% set  anterior  = carga.resDia %}
    {% endfor %}

    {% set  promedio  = demanda/clientes %}

    <td>{{ promedio|round(2, 'floor') }}</td>
    </tr>
</table>

<br><br>

<table>
    <tr>
        <td colspan="3">Resultados por cliente</td>
    </tr>
</table>
{% for cliente in clientes %}
    <table border="1" width="30%">
        <tr>
            <td colspan="3">Cliente ID [ {{ cliente.id }} ] </td>
        </tr>
        <tr>
            <td width="45%">Correlativo</td>
            <td width="5%">:</td>
            <td width="45%">{{ cliente.correlativo }}</td>
        </tr>
        <tr>
            <td width="45%">Frecuencia</td>
            <td width="5%">:</td>
            <td width="45%">{{ cliente.frecuencia }}</td>
        </tr>
        <tr>
            <td width="45%">Visitas generadas</td>
            <td width="5%">:</td>
            <td width="45%">{{ cliente.cantVisitasGeneradas }}</td>
        </tr>
       <tr>
            <td width="45%">Visitas esperadas</td>
            <td width="5%">:</td>
            <td width="45%">{{ cliente.visitasEsperadas }}</td>
        </tr>
        <tr>
            <td width="45%">Críterio de éxito</td>
            <td width="5%">:</td>
            <td width="45%">{{ cliente.criterioDeExito }}</td>
        </tr>
        <tr>
            <td width="45%">Objetivo Cumplido</td>
            <td width="5%">:</td>
            <td width="45%">{% if cliente.cumplido %}<span style="color: green;">Sí!</span>{% else %}<span style="color: red;">No</span>{% endif %}</td>
        </tr>
    </table>
    <br>
{% endfor %}