{% extends 'base.html.twig' %}
{% block title %}SARC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

{% block bodystyle%}
    style="background-color: #FFF;"
{% endblock %}

{% block header %}

  <img class="img-responsive" width="15%" style="margin: 7px auto;" src="{{asset('assets/img/sarc.png') }}" alt="">
  <hr>
  <section style="background:#FFF;">
      <div class="board">
        <ul class="nav nav-tabs" id="myTab">
          <div class="liner"></div>
          <li class="active">
            <a href="#home" data-toggle="tab" title="Home">
              <span class="round-tabs one">
                <img class="img-responsive" width="80%" style="margin: 7px auto;" src="{{asset('assets/img/home.png') }}" alt="">
              </span> 
            </a>
          </li>
          <li>
            <a href="centros" title="Centros de acopio">
              <span class="round-tabs two">
                <img class="img-responsive" width="70%" style="margin: 3px auto;" src="{{asset('assets/img/centro.png') }}" alt="">
              </span> 
            </a>
          </li>
          <li>
            <a href="{{path('empresas')}}" title="Empresas">
              <span class="round-tabs three" >
                <img class="img-responsive" width="85%" style="margin: 7px auto;" src="{{asset('assets/img/empresas.png') }}" alt="">
              </span>
            </a>
          </li>
          <li>
            <a href="usuarios"  title="Usuarios">
              <span class="round-tabs four">
                <img class="img-responsive" width="70%" style="margin: 3px auto;" src="{{asset('assets/img/login.png') }}" alt="">
              </span> 
            </a>
          </li>
          <li>
            <a href="{{path('logout')}}"  title="Salir">
              <span class="round-tabs five">
                <img class="img-responsive" width="50%" style="margin: 20px auto;" src="{{asset('assets/img/logout.png') }}" alt="">
              </span>
            </a>
          </li>
        </ul>
      </div>
  </section>
{% endblock %}

{% block body %}

  <div class="contenedor" style="text-align:center">
      <h3 style="color:#3e5e9a;margin-top: 50px;"> Bienvenido Súper administrador</h3>      
  </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}