{% extends 'base.html.twig' %}
{% block title %}SARC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/style_admin.css')}}">
{% endblock %}

{% block bodystyle%}
    style="background-color: #FFF;"
{% endblock %}

{% block header %}
  <style>
    .angular-google-map-container {
        width: 100%;
        height: 500px;
    }
    .nav-tabs > li {
        width: 33%; 
    }
    .liner{
        height: 2px;
        background: #ddd;
        position: absolute;
        width: 65%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }
    </style>
  <hr>
  <section style="background:#FFF;" class="row animated fadeInDown">
      <div class="board">
        <ul class="nav nav-tabs" id="myTab">
          <div class="liner"></div>
          <li class="active">
            <a href="#home" data-toggle="tab" title="Home">
              <span class="round-tabs one">
                <img class="img-responsive" width="80%" style="margin: 7px auto;" src="{{asset('assets/img/home.png') }}" alt="">
              </span> 
            </a>
          </li>
          <li>
            <a href="{{path('visitas')}}" title="Visitas">
              <span class="round-tabs two">
                <img class="img-responsive" width="75%" style="margin: 5px auto;" src="{{asset('assets/img/planificacion.png') }}" alt="">
              </span> 
            </a>
          </li>
          <li>
            <a href="{{path('logout')}}"  title="Salir">
              <span class="round-tabs five">
                <img class="img-responsive" width="50%" style="margin: 16px auto;" src="{{asset('assets/img/logout.png') }}" alt="">
              </span>
            </a>
          </li>
        </ul>
      </div>
  </section>
{% endblock %}

{% block body %}
    <div class="contenedor" style="text-align:center">
        <img class="img-responsive" style="margin: 7px auto;" src="{{asset('assets/img/sarc.png') }}" alt="">
        <div class="contenedor animated slideInUp" style="text-align:center">
            <h3 style="color:#3e5e9a;margin-top: 50px;">
                Bienvenido
            </h3>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}